<!-- vote.html -->
{% extends "pages/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cast Your Vote</h3>
            </div>


                <div class="row">
                    <div class="col-lg-12">


                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                        {% for pol_vote1 in pol_vote1 %}

                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>{{  pol_vote1.question }}</h2>
                                </div>
                            </div>

                            <hr />
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name= "{{ pol_vote1.id }}" value="0" required>
                                        {{ pol_vote1.option_one }}
                                    </label> &nbsp;
                                    <label>
                                        <input type="radio" name= "{{ pol_vote1.id }}" value="1">
                                        {{ pol_vote1.option_two }}
                                    </label> &nbsp;
                                    <label>
                                        <input type="radio" name= "{{ pol_vote1.id }}" value="2">
                                        {{ pol_vote1.option_three }}
                                    </label> &nbsp;
                                </div>
                            </div>
                            <hr />

                        {% endfor %}
                        <button type="submit" class="btn btn-info">
                            Submit
                        </button>
                    </form>
                    </div>
                </div>





        </div>
    </div>
</div>

{% endblock %}